body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}


.img1{
    width: 250px;
}


.h11{
    color: white;
}

.p1{
    color:hsl(215, 51%, 70%) ;
}
.div2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(217, 54%, 11%);
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.p-left{
    color:hsl(178, 100%, 50%) ;
}

.p-right{
    color:hsl(215, 51%, 70%) ;
}
.img-p2{
    width: 25px;
}

.span1{
    color: hsl(215, 51%, 70%);
}
.img-part2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.p5{
    color: white;
}